@charset "UTF-8";
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bricolage Grotesque";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/bricolage-grotesque-v9-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/inter-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
section {
  padding: var(--section-spacing) 0;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accent-text {
  color: var(--accent-color);
}

.btn {
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 1.5;
  align-items: center;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 12px 20px;
}
.btn--primary {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
}
.btn--primary svg * {
  stroke: var(--text-color-dark);
}
.btn--primary:hover {
  background-color: #eb430e;
}
.btn--primary:focus {
  background-color: var(--primary-color);
  box-shadow: 0 0 0 2px #101010, 0 0 0 4px var(--primary-color);
}

:root {
  --primary-color: #ff5722;
  --accent-color: #4ade80;
  --bg-color: #101010;
  --text-color: #ffffff;
  --text-color-dark: #101010;
  --border-color: #676767;
  --card-bg: #313131;
  --container-max-width: 90rem;
  --container-width: 90%;
  --section-spacing: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  --card-padding: 1.5rem 2rem;
}

body {
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}