{% set title = goal.name %}
{% extends "layouts/base.html" %}
{% block content %}
  {% set total = goal.deposits | sumDeposits %}
  {% set percentage = (100 * total / goal.target) | round %}
  {% set remaining = goal.target - total %}
  <section class="goal-detail">
    <div class="container">
      <div class="goal-detail__top">
        <div class="actions row">
          <a
            href="{{ '/' | url }}"
            class="btn btn--tertiary light-text"
          >
            {% include "svgs/icon-chevron-left.svg" %} Back
          </a>
          <div class="right">
            <button class="btn btn--tertiary light-text">Edit goal</button>
            <button class="btn btn--tertiary red-text">Delete goal</button>
          </div>
        </div>
        <h1>{{ goal.name }}</h1>
        <div class="details">
          <p class="light-text">
            {% if goal.deadline %}
              Due {{ goal.deadline | dueDate }}
            {% else %}
              No deadline
            {% endif %}
          </p>
          <div class="divider-dot"></div>

          <p class="light-text">
            {% if goal.createdAt %}
              Created {{ goal.createdAt | readableDate }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="goal-detail__main-content">
        <div class="card-container">
          <div class="card {% if percentage >= 100 %}bg-gradient{% endif %}">
            {% if percentage < 100 %}
              <div class="row">
                <p class="large-text primary-text">{{ percentage }}%</p>
                <p class="light-text">
                  ${{ remaining | amountWithDecimals }} remaining
                </p>
              </div>
              <div class="progress-bar">
                <div
                  class="progress-bar__completion"
                  style="width: {{ percentage }}%;"
                ></div>
              </div>
              <div class="row">
                <div class="column">
                  <p class="small-text">${{ total | amountWithDecimals }}</p>
                  <p class="light-text  small-text">Saved so far</p>
                </div>
                <div class="column">
                  <p class="small-text">
                    of ${{ goal.target | amountWithDecimals }}
                  </p>
                  <p class="light-text small-text align-right">Target</p>
                </div>
              </div>
            {% else %}
              <div class="checkmark">
                {% include "svgs/icon-checkmark.svg" %}
              </div>
              <div class="goal-summary">
                <p class="large-text">100%</p>
                <h2>Goal Complete</h2>
                <p>
                  You saved ${{ goal.target | amountWithDecimals(2) }} across
                  {{ goal.deposits | length }} deposits. Finished before your
                  {{ goal.deadline | dueDate }} deadline.
                </p>
              </div>
              <div class="goal-stats">
                <div class="goal-stats__detail">
                  <h2>{{ goal.deposits | length }}</h2>
                  <p>DEPOSITS</p>
                </div>
                <div class="vertical-divider"></div>
                <div class="goal-stats__detail">
                  <h2>${{ goal.target | amountWithDecimals(2) }}</h2>
                  <p>TOTAL SAVED</p>
                </div>
              </div>
            {% endif %}
          </div>

          {% if percentage < 100 %}
            <div class="card">
              <h3>Add deposit</h3>
              <form
                action=""
                id="add-deposit"
              >
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <div class="input-with-icon">
                    <input
                      type="number"
                      id="amount"
                      min="0"
                      name="amount"
                      step="0.01"
                      placeholder="0.00"
                      required
                    />
                    <div class="icon">{% include "svgs/icon-dollar.svg" %}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="note">Note (optional)</label>
                  <input
                    type="text"
                    id="note"
                    name="note"
                    placeholder="e.g. Monthly savings"
                  />
                </div>
                <button class="btn btn--primary">Add funds</button>
              </form>
            </div>
          {% endif %}
        </div>
        <div class="deposit-history">
          <div class="row">
            <h3>Deposit history</h3>
            <p class="light-text small-text">
              {{ goal.deposits | length }} deposits
            </p>
          </div>
          <div class="divider"></div>
          <ul class="deposit-list">
            {% for deposit in goal.deposits %}
              <li class="deposit-list__item row">
                <div class="icon">{% include "svgs/icon-arrow-down.svg" %}</div>
                <div class="details column">
                  <p class="small-text">{{ deposit.note }}</p>
                  <p class="light-text small-text">
                    {{ deposit.createdAt | readableDate }}
                  </p>
                </div>

                <p class="accent-text">
                  +${{ deposit.amount | amountWithDecimals }}
                </p>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
