{% extends "layouts/base.html" %}
{% block content %}
  {% set total = goal.deposits | sumDeposits %}
  {% set percentage = (100 * total / goal.target) | round %}
  <section class="goal-detail">
    <div class="container">
      <div class="actions row">
        <a
          href="/"
          class="btn btn--tertiary"
        >
          {% include "svgs/icon-chevron-left.svg" %} Back
        </a>
        <div class="right">
          <button class="btn btn--tertiary light-text">Edit goal</button>
          <button class="btn btn--tertiary red-text">Delete goal</button>
        </div>
      </div>
      <h1>{{ goal.name }}</h1>
      <div class="details">
        <p class="light-text">
          {% if goal.deadline %}
            Due {{ goal.deadline | dueDate }}
          {% else %}
            No deadline
          {% endif %}
        </p>
        <div class="divider-dot"></div>

        <p class="light-text">
          {% if goal.createdAt %}
            Created {{ goal.createdAt | readableDate }}
          {% endif %}
        </p>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="row">
            <p class="large-text primary-text">{{ percentage }}%</p>
            {% set remaining = goal.target - total %}
            <p class="light-text">
              ${{ remaining | amountWithDecimals }} remaining
            </p>
          </div>
          <div class="progress-bar">
            <div
              class="progress-bar__completion {% if percentage >=100 %}progress-bar__completion--complete{% endif %}"
              style="width: {{ percentage }}%;"
            ></div>
          </div>
          <div class="row">
            <div class="column">
              <p class="small-text">${{ total | amountWithDecimals }}</p>
              <p class="light-text  small-text">Saved so far</p>
            </div>
            <div class="column">
              <p class="small-text">
                of ${{ goal.target | amountWithDecimals }}
              </p>
              <p class="light-text small-text align-right">Target</p>
            </div>
          </div>
        </div>

        <div class="card">
          <h3>Add deposit</h3>
          <form
            action=""
            id="add-deposit"
          >
            <div class="form-group">
              <label for="amount">Amount</label>
              <div class="input-with-icon">
                <input
                  type="number"
                  id="amount"
                  min="0"
                  name="amount"
                  step="0.01"
                  placeholder="0.00"
                  required
                />
                <div class="icon">{% include "svgs/icon-dollar.svg" %}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="note">Note (optional)</label>
              <input
                type="text"
                id="note"
                name="note"
                placeholder="e.g. Monthly savings"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
