{% extends "layouts/base.html" %}
{% block content %}
  <h2>Buttons</h2>
  <button
    href=""
    class="btn btn--primary"
  >
    {% include "svgs/icon-filter.svg" %} Button
  </button>

  <button
    href=""
    class="btn btn--secondary"
  >
    {% include "svgs/icon-filter.svg" %} Button
  </button>

  <button
    href=""
    class="btn btn--secondary"
    disabled
  >
    {% include "svgs/icon-filter.svg" %} Button
  </button>

  <button
    href=""
    class="btn btn--tertiary"
  >
    {% include "svgs/icon-filter.svg" %} Button
  </button>
{% endblock %}
