@use "fonts";
@use "variables";

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accent-text {
  color: var(--accent-color);
}

.primary-text {
  color: var(--primary-color);
}

.large-text {
  @include fonts.textpreset1mobile;
}

.btn {
  @include fonts.textpreset5;
  align-items: center;
  border: 1px solid transparent;
  border-radius: variables.$cornerradius-full;
  cursor: pointer;
  display: inline-flex;
  gap: variables.$spacing-125;
  justify-content: center;
  padding: variables.$spacing-150 variables.$spacing-250;

  &--primary {
    background-color: var(--primary-color);
    color: var(--text-color-dark);

    svg * {
      stroke: var(--text-color-dark);
    }

    &:hover {
      background-color: variables.$orange-500;
    }

    &:focus {
      background-color: var(--primary-color);
      box-shadow:
        0 0 0 2px variables.$neutral-900,
        0 0 0 4px var(--primary-color);
    }
  }

  &--secondary {
    background-color: variables.$neutral-800;
    border-color: var(--border-color);
    color: var(--text-color);

    svg * {
      stroke: var(--text-color);
    }

    &:hover {
      background-color: variables.$neutral-700;
    }

    &:focus {
      background-color: variables.$neutral-800;
      box-shadow:
        0 0 0 2px variables.$neutral-900,
        0 0 0 4px var(--primary-color);
    }
    &:disabled {
      background-color: variables.$neutral-800;
      color: variables.$neutral-400;

      svg * {
        stroke: variables.$neutral-400;
      }
    }
  }

  &--tertiary {
    background-color: transparent;
    color: var(--text-color);

    svg * {
      stroke: var(--text-color);
    }

    &:hover {
      background-color: variables.$neutral-800;
    }

    &:focus {
      background-color: transparent;
      box-shadow:
        0 0 0 2px variables.$neutral-900,
        0 0 0 4px var(--primary-color);
    }
  }
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: variables.$cornerradius-16;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-400;
  padding: variables.$spacing-200;
}

.bg-gradient {
  background: linear-gradient(
    270deg,
    var(--primary-color) 0.35%,
    variables.$orange-700 99.65%
  );
  border-color: variables.$whitealpha-30;
}

.card-container {
  display: grid;
  gap: clamp(
    variables.$spacing-200,
    0.5229rem + 2.0356vw,
    variables.$spacing-300
  );
}

.row.section-top {
  align-items: flex-start;
  flex-direction: column;
  // TODO: check figma for spacing
  gap: variables.$spacing-100;
}

.hide-on-mobile {
  display: none;
}

.show-on-mobile {
  display: flex;
}

.progress-bar {
  // TODO: check figma for colors, spacing, radius, etc.
  background-color: variables.$neutral-700;
  border-radius: variables.$cornerradius-16;
  height: variables.$spacing-200;
  position: relative;
  z-index: 1;

  &__completion {
    background-color: var(--primary-color);
    border-radius: variables.$cornerradius-16;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 48rem) {
  .large-text {
    @include fonts.textpreset1;
  }

  .hide-on-mobile {
    display: flex;
  }

  .show-on-mobile {
    display: none;
  }
}
