@use "fonts";
@use "variables";

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accent-text {
  color: var(--accent-color);
}

.btn {
  @include fonts.textpreset5;
  align-items: center;
  border: 1px solid transparent;
  border-radius: variables.$cornerradius-full;
  cursor: pointer;
  display: inline-flex;
  gap: variables.$spacing-125;
  justify-content: center;
  padding: variables.$spacing-150 variables.$spacing-250;

  &--primary {
    background-color: var(--primary-color);
    color: var(--text-color-dark);

    svg * {
      stroke: var(--text-color-dark);
    }

    &:hover {
      background-color: variables.$orange-500;
    }

    &:focus {
      background-color: var(--primary-color);
      box-shadow:
        0 0 0 2px variables.$neutral-900,
        0 0 0 4px var(--primary-color);
    }
  }

  &--secondary {
    background-color: variables.$neutral-800;
    border-color: var(--border-color);
    color: var(--text-color);

    svg * {
      stroke: var(--text-color);
    }

    &:hover {
      background-color: variables.$neutral-700;
    }

    &:focus {
      background-color: variables.$neutral-800;
      box-shadow:
        0 0 0 2px variables.$neutral-900,
        0 0 0 4px var(--primary-color);
    }
    &:disabled {
      background-color: variables.$neutral-800;
      color: variables.$neutral-400;

      svg * {
        stroke: variables.$neutral-400;
      }
    }
  }

  &--tertiary {
    background-color: transparent;
    color: var(--text-color);

    svg * {
      stroke: var(--text-color);
    }

    &:hover {
      background-color: variables.$neutral-800;
    }

    &:focus {
      background-color: transparent;
      box-shadow:
        0 0 0 2px variables.$neutral-900,
        0 0 0 4px var(--primary-color);
    }
  }
}
