section {
  padding: var(--section-spacing) 0;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  width: var(--container-width);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.accent-text {
  color: var(--accent-color);
}

.btn--primary {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-hover);
  }
}
