// Colors

$neutral-0: #ffffff;
$neutral-300: #b7b7b7;
$neutral-400: #898a8b;
$neutral-500: #676767;
$neutral-600: #3c3b40;
$neutral-700: #313131;
$neutral-800: #1f1f1f;
$neutral-900: #101010;

$orange-400: #ff5722;
$orange-500: #eb430e;
$orange-700: #b92b09;
$orange-800: #903014;

$green-500: #4ade80;
$green-900: #1a3d2b;

$red-500: #ef4444;

$whitealpha-30: rgba(255, 255, 255, 0.3);

// Spacing
$spacing-0: 0px;
$spacing-100: 8px;
$spacing-125: 10px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1400: 112px;
$spacing-1600: 128px;
$spacing-1800: 140px;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;

// corner-radius
$cornerradius-0: 0px;
$cornerradius-2: 2px;
$cornerradius-4: 4px;
$cornerradius-6: 6px;
$cornerradius-8: 8px;
$cornerradius-10: 10px;
$cornerradius-12: 12px;
$cornerradius-16: 16px;
$cornerradius-20: 20px;
$cornerradius-24: 24px;
$cornerradius-full: 999px;
