// Colors

$neutral-0:#ffffff;
$neutral-300:#b7b7b7;
$neutral-400:#898a8b;
$neutral-500:#676767;
$neutral-600:#3c3b40;
$neutral-700:#313131;
$neutral-800:#1f1f1f;
$neutral-900:#101010;

$orange-400:#ff5722;
$orange-500:#eb430e;
$orange-700:#b92b09;
$orange-800:#903014;

$green-500:#4ade80;
$green-900:#1a3d2b;

$red-500:#ef4444;

$whitealpha-30:rgba(255, 255, 255, 0.3);

// Spacing
$spacing-0:0;
$spacing-100:8;
$spacing-125:10;
$spacing-150:12;
$spacing-200:16;
$spacing-250:20;
$spacing-300:24;
$spacing-400:32;
$spacing-500:40;
$spacing-600:48;
$spacing-800:64;
$spacing-1000:80;
$spacing-1200:96;
$spacing-1400:112;
$spacing-1600:128;
$spacing-1800:140;
$spacing-025:2;
$spacing-050:4;
$spacing-075:6;

// corner-radius
$cornerradius-0:0;
$cornerradius-2:2;
$cornerradius-4:4;
$cornerradius-6:6;
$cornerradius-8:8;
$cornerradius-10:10;
$cornerradius-12:12;
$cornerradius-16:16;
$cornerradius-20:20;
$cornerradius-24:24;
$cornerradius-full:999;