@use "fonts";
@use "reset";
@use "sass:map";
@use "utilities";
@use "variables";

:root {
  // COLORS
  --primary-color: #{variables.$orange-400};
  --accent-color: #{variables.$green-500};
  --bg-color: #{variables.$neutral-900};
  --text-color: #{variables.$neutral-0};
  --text-color-dark: #{variables.$neutral-900};
  --border-color: #{variables.$neutral-600};
  --card-bg: #{variables.$neutral-800};

  // CONTAINER
  --container-max-width: 90rem;
  --container-width: 90%;

  --card-padding: 1.5rem 2rem;
}

body {
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h3 {
  @include fonts.textpreset5semibold;
}

header {
  padding: variables.$spacing-200 0;
}

main {
  display: grid;
  gap: variables.$spacing-400;
  margin: variables.$spacing-600 0;
}

.hero > .container {
  .chart {
    width: 100%;
  }
}

.goals {
  .buttons {
    align-self: stretch;
    justify-content: center;
    // TODO: check figma for spacing
    gap: variables.$spacing-200;

    & > * {
      flex: 1;
    }
  }
}

@media (min-width: 48rem) {
  .hero > .card-container {
    grid-template-columns: repeat(2, 1fr);
    .card:first-child {
      grid-column: 1 / span 2;
    }

    .card:last-child {
      grid-column: 1 / -1;
    }
  }
}

@media (min-width: 64rem) {
  .hero > .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
