@use "fonts";
@use "reset";
@use "sass:map";
@use "variables";
@use "utilities";

:root {
  // COLORS
  --primary-color: #1e3a8a;
  --accent-color: #84cc16;
  --bg-color: #f1f1f1;
  --text-color: #333;
  --border-color: #e0e0e0;
  --card-bg: #ffffff;

  // CONTAINER
  --container-max-width: 90rem;
  --container-width: 90%;

  --section-spacing: clamp(2rem, 0.9437rem + 4.507vw, 5rem);
  --card-padding: 1.5rem 2rem;
}

body {
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

p {
  color: var(--text-secondary);
}
