<section class="goals">
  <div class="container">
    <div class="row">
      <h2>Your goals</h2>
      <div class="buttons">
        <div class="btn btn--secondary">
          {% include "svgs/icon-filter.svg" %} Filters
        </div>
        <div class="btn btn--secondary">
          {% include "svgs/icon-sort.svg" %} Sory by
        </div>
      </div>
    </div>

    <div class="card bg-gradient">
      <h3>MacBook Pro M4</h3>
      <p class="large-text">76%</p>
      <div class="progress-bar">
        <div
          class="progress-bar__completion"
          style="width: 76%;"
        ></div>
      </div>
      <div class="details">
        <p>$1,900 of $2,499</p>
        <div class="divider-dot"></div>
        <p>Due 1 Jun 2026</p>
      </div>
    </div>
  </div>
</section>
