<section class="goals">
  <div class="container card-container">
    <div class="row section-top">
      <h2>Your goals</h2>
      <div class="buttons row">
        <div class="btn btn--secondary">
          {% include "svgs/icon-filter.svg" %} Filters
        </div>
        <div class="btn btn--secondary">
          {% include "svgs/icon-sort.svg" %} Sort by
        </div>
      </div>
    </div>
    <div class="card-container">
      {% for goal in data.goals %}
        {% set total = goal.deposits | sumDeposits %}
        {% set percentage = (100 * total / goal.target) | round %}

        <div
          class="card  {% if percentage >75 and percentage <100 %}bg-gradient{% endif %}"
        >
          <div class="row">
            <a href="{{ './goals/' + goal.name | slugify + '/' }}">
              <h3>{{ goal.name }}</h3>
            </a>
            {% if percentage >=100 %}
              <div class="badge accent-text">Complete</div>
            {% endif %}
          </div>
          <div class="bottom">
            <div
              class="large-text {% if percentage >=100 %}accent-text{% elseif percentage===0 %}medium-text{% elseif percentage <=75 %}primary-text{% endif %}"
            >
              {{ percentage }}%
            </div>
            <div class="progress-bar">
              <div
                class="progress-bar__completion {% if percentage >=100 %}progress-bar__completion--complete{% endif %}"
                style="width: {{ percentage }}%;"
              ></div>
            </div>
            <div class="details">
              <p>{{ total | amount }} of {{ goal.target | amount }}</p>
              <div class="divider-dot"></div>
              <p class="muted-text">
                {% if goal.deadline %}
                  Due {{ goal.deadline | dueDate }}
                {% else %}
                  No deadline
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
