<section class="goals">
  <div class="container card-container">
    <div class="row section-top">
      <h2>Your goals</h2>
      <div class="buttons row">
        <div class="btn btn--secondary">
          {% include "svgs/icon-filter.svg" %} Filters
        </div>
        <div class="btn btn--secondary">
          {% include "svgs/icon-sort.svg" %} Sory by
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="card bg-gradient">
        <h3>MacBook Pro M4</h3>
        <div class="bottom">
          <p class="large-text">76%</p>
          <div class="progress-bar">
            <div
              class="progress-bar__completion"
              style="width: 76%;"
            ></div>
          </div>
          <div class="details">
            <p>$1,900 of $2,499</p>
            <div class="divider-dot"></div>
            <p>Due 1 Jun 2026</p>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>React Conf Trip</h3>
        <div class="bottom">
          <div class="large-text primary-text">72%</div>
          <div class="progress-bar">
            <div
              class="progress-bar__completion"
              style="width: 72%;"
            ></div>
          </div>
          <div class="details">
            <p>$1,299 of $1,800</p>
            <div class="divider-dot"></div>
            <p class="muted-text">Due 15 May 2026</p>
          </div>
        </div>
      </div>

      <div class="card">
        <!-- TODO: add complete badge -->
        <h3>Mechanical Keyboard</h3>
        <div class="bottom">
          <div class="large-text accent-text">100%</div>
          <div class="progress-bar">
            <div
              class="progress-bar__completion progress-bar__completion--complete"
              style="width: 100%;"
            ></div>
          </div>
          <div class="details">
            <p>$350 of $350</p>
            <div class="divider-dot"></div>
            <p class="muted-text">Due 15 Mar 2026</p>
          </div>
        </div>
      </div>

      <div class="card bg-gradient">
        <h3>Emergency Fund</h3>
        <div class="bottom">
          <p class="large-text">80%</p>
          <div class="progress-bar">
            <div
              class="progress-bar__completion"
              style="width: 80%;"
            ></div>
          </div>
          <div class="details">
            <p>$4,000 of $5,000</p>
            <div class="divider-dot"></div>
            <p>No deadline</p>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>New Road Bike</h3>
        <div class="bottom">
          <div class="large-text primary-text">57%</div>
          <div class="progress-bar">
            <div
              class="progress-bar__completion"
              style="width: 57%;"
            ></div>
          </div>
          <div class="details">
            <p>$850 of $1,500</p>
            <div class="divider-dot"></div>
            <p class="muted-text">Due 1 May 2026</p>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>Ergonomic Chair</h3>
        <div class="bottom">
          <div class="large-text">0%</div>
          <div class="progress-bar">
            <div
              class="progress-bar__completion"
              style="width: 0%;"
            ></div>
          </div>
          <div class="details">
            <p>$0 of $1,200</p>
            <div class="divider-dot"></div>
            <p class="muted-text">Due 1 Aug 2026</p>
          </div>
        </div>
      </div>

      <div class="card">
        <h3>4k Monitor Upgrade</h3>
        <div class="bottom">
          <div class="large-text primary-text">75%</div>
          <div class="progress-bar">
            <div
              class="progress-bar__completion"
              style="width: 75%;"
            ></div>
          </div>
          <div class="details">
            <p>$450 of $600</p>
            <div class="divider-dot"></div>
            <p class="muted-text">Due 30 Apr 2026</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
