<section class="hero">
  <div class="container card-container">
    <div class="card bg-gradient">
      <h4>Total savings</h4>
      <p class="large-text">$11,249.00</p>
    </div>

    <div class="card">
      <h4>Active goals</h4>
      <p class="primary-text large-text">7</p>
    </div>
    <div class="card">
      <h4>Goals completed</h4>
      <p class="accent-text large-text">2</p>
    </div>
    <div class="card">
      <h3>Monthly deposits</h3>
      <div class="chart">
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
</section>
