<section class="hero">
  <div class="container card-container">
    <div class="card bg-gradient">
      <h4>Total savings</h4>
      <p class="large-text">$11,249.00</p>
    </div>

    <div class="card">
      <h4>Active goals</h4>
      <p class="primary-text large-text">7</p>
    </div>
    <div class="card">
      <h4>Goals completed</h4>
      <p class="accent-text large-text">2</p>
    </div>
    <div class="card">
      <h3>Monthly deposits</h3>
      <div class="chart">
        <canvas id="chart"></canvas>
        <!-- TODO: figure out if i can truncate bars on smaller screens (e.g. show fewer bars) -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
        <script>
          // Hero Bar Chart
          const ctx = document.getElementById("chart");
          const fullLabels = [
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
            "Jan",
            "Feb",
            "Mar",
          ];
          const fullData = [
            0, 0, 500, 400, 400, 1150, 1149, 1550, 1950, 1025, 1550, 1550,
          ];
          const data = {
            labels: fullLabels,
            datasets: [
              {
                data: fullData,
                backgroundColor: ["#FF5722"],
                barPercentage: 0.9,
                borderColor: ["rgba(255, 255, 255, 0.30)"],
                borderRadius: 8,
                borderSkipped: false,
                borderWidth: 1,
                categoryPercentage: 1.0,
                hoverBackgroundColor: ["#FF5722"],
              },
            ],
          };

          const config = {
            type: "bar",
            data: data,
            plugins: [ChartDataLabels],
            options: {
              plugins: {
                datalabels: {
                  color: "#B7B7B7",
                  formatter: function (value, context) {
                    return (
                      "$" +
                      value.toLocaleString("en-US", {
                        maximumFractionDigits: 0,
                      })
                    );
                  },
                  labels: {
                    value: {
                      align: "bottom",
                      anchor: "start",
                      font: {
                        family: "Inter",
                        lineHeight: 1.2,
                        size: 11,
                        weight: 600,
                      },
                      offset: 10,
                    },
                  },
                },
                legend: {
                  display: false,
                },
              },
              scales: {
                y: {
                  beginAtZero: true,
                  display: false,
                },
                x: {
                  ticks: {
                    display: true,
                    color: "#ffffff",
                    font: {
                      family: "Inter",
                      lineHeight: 1.2,
                      size: 11,
                      weight: 600,
                    },
                    padding: 21,
                  },
                  grid: {
                    display: false,
                  },
                },
              },
            },
          };

          const chart = new Chart(ctx, config);

          function updateChartResponsively(chart) {
            const isSmallScreen = window.innerWidth < 769;
            const limit = isSmallScreen ? 6 : fullLabels.length;

            chart.data.labels = fullLabels.slice(-limit);
            chart.data.datasets[0].data = fullData.slice(-limit);
            chart.update();
          }

          updateChartResponsively(chart);
          window.addEventListener("resize", () =>
            updateChartResponsively(chart),
          );
        </script>
      </div>
    </div>
  </div>
</section>
