<header>
  <div class="container">
    <div class="navbar row">
      <a
        href="{{ '/' | url }}"
        class="logo hide-on-mobile"
        aria-label="{{ data.siteName }} - home"
      >
        {% include "svgs/logo-large.svg" %}
      </a>
      <a
        href="{{ '/' | url }}"
        class="logo show-on-mobile"
        aria-label="{{ data.siteName }} - home"
      >
        {% include "svgs/logo-small.svg" %}
      </a>
      <button
        id="addGoal"
        class="btn btn--primary"
      >
        + New goal
      </button>
    </div>
  </div>
</header>
